*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
img{
    display: block;
}
p{
    z-index: 5;
    font-size: 90px;
    text-align: right;
}
.display{
    width: 200px;
    height: 100px;
    background-color: rgb(23, 233, 23);
    border: none;
    position: absolute;
    transform: translate(0, -108%);
}
.increment-btn{
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    transform: translate(0%, 55%);
    cursor: pointer;
}
.reset-btn{
    background-color:red;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(205%, -55%);

}